# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/front/dist
/front/tmp

# dependencies
/front/node_modules
/front/bower_components

# misc
/front/.sass-cache
/front/connect.lock
/front/coverage/*
/front/libpeerconnection.log
/front/npm-debug.log
/front/testem.log

# django
/db.sqlite3
/hackart/urls.pyc
/hackart/wsgi.pyc
/hackart/__init__.pyc
/hackart/settings.pyc