.bg-peach-castle {
	background: url(https://fsmedia.imgix.net/52/b9/41/d8/97eb/4c85/8d1a/087e96e6f9e0/peachs-castlejpg.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: calc(100vh - 50px);
}
.challenges {
	height: 50vh;
	display: flex;
	justify-content: space-around;

	a {
		text-decoration: none;
		cursor: pointer;
	}
	a:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	}
	.box {
		height: 200px;
		width: 200px;
		display: flex;
		align-self: center;
		justify-content: center;
		background-color: $ronchi;

		span {
			display: flex;
			align-self: center;
			color: $white;
			font-size: 72px;
			font-weight: 700;
		}
	}
}