.nav-bar {
	height: auto;
	display: flex;
	background-color: $cod-gray;
	
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    display: flex;
	    width: 80vw;
	    justify-content: flex-start;
	}

	li a, .welcome-text {
	    display: block;
	    color: $white;
	    align-content: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	.welcome-text {
		width: 20vw;
		text-align: end;
	}

	li a:hover {
	    background-color: $tundora;
	    cursor: pointer;
	}
}