<div class="nav-bar">
	<ul>
		{{#link-to 'login' tagName='li'}}
			{{link-to 'Login' 'login'}}
		{{/link-to}}
		{{#link-to 'challenges' tagName='li'}}
			{{link-to 'Challenges' 'challenges'}}
		{{/link-to}}
		{{#link-to 'admin' tagName='li'}}
			{{link-to 'Admin' 'admin'}}
		{{/link-to}}
	</ul>
</div>