<div class="challenges">
	{{#each model as |challenge|}}
		<a class="box">
			<span>{{challenge.points}}</span>
		</a>

		{{!-- idea here would be to create unique modals per |challenge| and pop them accordingly --}}
		{{!-- i know that we can bring in ember addons, etc, but the cleaner we keep the app, the smoother it'll run --}}
		{{!-- trigger would be performed inside a controller, but since I can't test, I'll leave for another time right now --}}
		<div id="modal" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close">&times;</span>
					<h2>{{challenge.title}}</h2>
				</div>
				<div class="modal-body">
					<p>{{challenge.description}}</p>
					{{!-- PS: we'd have to clean this up, it's just temporary styling at the moment b/c server is down, can't test with it yet --}}
					<p>{{challenge.points}}</p>.  
					<input type="text" placeholder="Enter flag, format {null:flag}"/>
				</div>
				<div class="modal-footer">
					<button>Submit</button>
				</div>
			</div>
		</div>
	{{/each}}
</div>