<div class="login-box">
	<form>
		<div>
			<input class="login-input" placeholder="Username"/>
		</div>
		<div>
			<input class="login-input" placeholder="Password"/>
		</div>
		<button class="login-button">Login</button>
	</form>
</div>