/* core */
@import "./colors.scss";
@import "./variables.scss";

/* components */
@import "./components/challenges.scss";
@import "./components/navbar.scss";

body {
	margin: 0;
	font-family: $font-stack
}

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
    	width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
    	width: 1170px;
	}
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

html { 
	background: url(https://fsmedia.imgix.net/52/b9/41/d8/97eb/4c85/8d1a/087e96e6f9e0/peachs-castlejpg.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.test {
	color: $red;
}