/* core */
@import "./colors.scss";
@import "./variables.scss";

/* components */
@import "./components/challenge.scss";
@import "./components/login.scss";
@import "./components/modal.scss";
@import "./components/navbar.scss";

body {
	margin: 0;
	font-family: $font-stack;
}

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
    	width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
    	width: 1170px;
	}
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}